Python Intro,
Python Get Started,

Python Syntax

In [ ]:
print("Hello, World!")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
  # there is no error here

In [ ]:
if 5 > 2:
print("Five is greater than two!")
# it causes error

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")
# no error

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")
# it causes error

In [ ]:
# the number of space is up to the programmer
# most common space is 4
# but use at least one space

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two")
# it causes error

Python comments

In [ ]:
# this is a commetnts
"""
this is a comment
written in
more than just one line
"""

Python Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

# variable do not need to be declared with any particular type
# can be change the type after they have been set

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Type

In [ ]:
x = 5
y = "Hasib"
print(type(x))
print(type(y))

Single / Double Qoutes

In [ ]:
x = "Hasib"
# is the same as
x = 'Hasib'

Case Sensitive

In [ ]:
a = 4
A = "Sally"
# A will not overwrite a

Variable Names

In [3]:
# Legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names
# 2myvar = "John"
# my-var = "John"
# my var = "John"

# variable names are case-sensative

# camel case
myVariableName = "Hasib"
# Pascal case
MyVariableName = "Hasib"
# snake case
my_variable_name = "Hasib"

print(my_variable_name)

Hasib

Many values to Multiple Variables

In [4]:
# in one line we can assign multiple values in multiple variables
x, y, z = "mom", "dad", "sister"
print(x)
print(y)
print(z)

mom
dad
sister

In [5]:
# one value to multiple variables
x = y = z = "hasib"
print(x)
print(y)
print(z)

hasib
hasib
hasib

In [6]:
# Unplacking a Collection
cars = ["bmw", "audi", "toyota"]
a, b, c = cars
print(a)
print(b)
print(c)
#

bmw
audi
toyota

In [7]:
#Output variables
x = "Python is awesome"
print(x)

Python is awesome

In [9]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x)
print(y)
print(z)

Python is awesome
Python
is
awesome

In [11]:
# + operator to  output multiple variables
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# note that the space is added, otherwise the output is without space

Python is awesome

In [12]:
x = 6
y = 7
print(x + y)

13

In [15]:
x = 5
y = "John"
# print(x + y) error
print(x, y)

5 John

In [17]:
# Global Variables
# Variable that is created outside of a function is called a global variable
x = "awesome"

def myfunc():
  print("Hasib is "+ x)

myfunc()
#

Hasib is awesome

In [22]:

x = "joss"

def myfunc():
  x = "lol"
  print("Hasib is " + x)

myfunc()

print("Hasib is " + x)

Hasib is lol
Hasib is joss

In [23]:
# global keywords
def myfunc():
  global x
  x = "bad boy"
  print("Hasib is " + x)

myfunc()

print("Hasib is " + x)

# If you use the global keyword, the variable belongs to the global scope:

Hasib is bad boy
Hasib is bad boy

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  # print("Python is " + x)

myfunc()

print("Python is " + x)

# to change the golbal variables value inside a function

Python is fantastic
Python is fantastic