In [2]:
# Python lambda

# A lambda function is a small anonymous function.

# A lambda function can take any number of arguments, but can only have one expression.

# lambda arguments : expression

x = lambda a : a + 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
30
13

In [3]:
# Why we use lambda functions?

# The power of lambda is better shown when you use them as an anonymous function inside another function.

# Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [4]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [5]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [8]:
# Python Arrays

# Arrays are used to store multiple values in one single variable

cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)
print(cars[1])
print(len(cars))

Ford
Volvo
3

In [9]:
cars  = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

In [11]:
cars = ["Supra", "Mustang", "BMW"]

cars.append("Honda")

print(cars)

cars.pop(1)

print(cars)

cars.remove("Supra")

print(cars)

cars.insert(0, "Supra")

print(cars)

cars.sort()

print(cars)

cars.reverse()

print(cars)

['Supra', 'Mustang', 'BMW', 'Honda']
['Supra', 'BMW', 'Honda']
['BMW', 'Honda']
['Supra', 'BMW', 'Honda']
['BMW', 'Honda', 'Supra']
['Supra', 'Honda', 'BMW']