Python list

In [1]:
# total 4 by default data collection in python
# list
# tuple
# set
# dictionary

# list are created using square brackets:

fruirts = ["apple", "banana", "cherry"]
print(fruirts)

['apple', 'banana', 'cherry']

In [5]:
# List Items

# List items are ordered, changeable, and allow duplicate values.

# List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
# When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

# If you add new items to a list, the new items will be placed at the end of the list.

# Changeable
# The list is changeable, meaning that we can change, add, and remove items in a list after it has been created

# Allow Duplicates
# Since lists are indexed, lists can have items with the same value:

cars = ["Ford", "Volvo", "BMW", "Ford"]
print(cars)

cars.append("Honda")
print(cars)

cars.append("BMW")
print(cars)

cars.remove("BMW")
print(cars)

['Ford', 'Volvo', 'BMW', 'Ford']
['Ford', 'Volvo', 'BMW', 'Ford', 'Honda']
['Ford', 'Volvo', 'BMW', 'Ford', 'Honda', 'BMW']
['Ford', 'Volvo', 'Ford', 'Honda', 'BMW']

In [6]:
# List length

# To determine how many items a list has, use the len() function:

print(len(cars))

5

In [7]:
# list items data types

# List items can be of any data type

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [8]:
# a list can contain different data types

list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [9]:
print(type(list1))

<class 'list'>

In [10]:
# using the list constructor [ list() ] to make a list

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# Python collections (Arrays)

# There are four collection data types in the python


    # List is a collection which is ordered and changeable. Allows duplicate members.
    # Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    # Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    # Dictionary is a collection which is ordered** and changeable. No duplicate members.

## **Access list items**

In [11]:
cars = ["Ford", "Volvo", "BMW"]
print(cars[0])

Ford

In [12]:
# Negative indexing

# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc.

print(cars[-1])

BMW

In [13]:
# Range of indexes

# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new list with the specified items.

flowers = ["rose", "lily", "sunflower", "jasmine", "tulip"]
print(flowers[2:5])



# Note: The search will start at index 2 (included) and end at index 5 (not included).

# Remember that the first item has index 0.

['sunflower', 'jasmine', 'tulip']

In [14]:
# By leaving out the start value, the range will start at the first item:

print(flowers[:4])

['rose', 'lily', 'sunflower', 'jasmine']

In [15]:
fruirts = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruirts[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [17]:
# Range of negative indexes

# Specify negative indexes if you want to start the search from the end of the list:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

['orange', 'kiwi', 'melon']

In [18]:
# check if item exists

books = ["book1", "book2", "book3"]
if "book1" in books:
    print("Yes, 'book1' is in the books list")

Yes, 'book1' is in the books list

## *Change item value*

In [19]:
# to change the value of a spcefic item, refer to the index number

cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

In [20]:
# change the range of the item values

cars = ["Ford", "Volvo", "BMW", "Toyota", "Honda"]
cars[1:3] = ["Maruti", "Hyundai"]
print(cars)

['Ford', 'Maruti', 'Hyundai', 'Toyota', 'Honda']

In [22]:
# if you insert more items than you replace the new items will be inserted where you specified and remaining itmes will move accordingly
# Change the second value by replacing it with three new values


cars = ["Ford", "Volvo", "BMW"]
cars[1:2] = ["Maruti", "Hyundai", "Tata"]
print(cars)

print(len(cars))

['Ford', 'Maruti', 'Hyundai', 'Tata', 'BMW']
5

In [23]:
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [28]:
# insert items

cars = ["Ford", "Volvo", "BMW"]
cars.insert(2, "Honda") # mention the index number
cars.append("Toyota") # not mention index number
print(cars)

cars.insert(0, "Maruti")
print(cars)

['Ford', 'Volvo', 'Honda', 'BMW', 'Toyota']
['Maruti', 'Ford', 'Volvo', 'Honda', 'BMW', 'Toyota']

In [29]:
# add an item to the end of the lsit

cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [30]:
# extend list

cars = ["Ford", "Volvo", "BMW"]
cars2 = ["Toyota", "Honda"]
cars.extend(cars2)
print(cars)

['Ford', 'Volvo', 'BMW', 'Toyota', 'Honda']

In [31]:
# Add Any Iterable

# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

cars = ["Ford", "Volvo", "BMW"]
cars2 = ("Toyota", "Honda")
cars.extend(cars2)
print(cars)

['Ford', 'Volvo', 'BMW', 'Toyota', 'Honda']

In [32]:
# Remove Specified Item

# The remove() method removes the specified item.

cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW']

In [33]:
# If there are more than one items with the specified value, the remove() method removes the first occurrance:

cars = ["Ford", "Volvo", "BMW", "Volvo"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW', 'Volvo']

In [36]:
# Remove specified Index

# The pop() method removes the specified index.

cars =  ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

# If you do not specify the index, the pop() method removes the last item.

cars.pop()
print(cars)

['Ford', 'BMW']
['Ford']

In [37]:
# The del keyword also removes the specified index

cars =  ["Ford", "Volvo", "BMW"]
del cars[0]
print(cars)

['Volvo', 'BMW']

In [38]:
# he del keyword can also delete the list completely.

cars =  ["Ford", "Volvo", "BMW"]
del cars

In [39]:
# Clear the List

# The clear() method empties the list.

# The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]