## *Python Loop List*

In [2]:
cars = ["Toyota", "Honda", "BMW"]
for i in cars:
    print(i)

Toyota
Honda
BMW

In [3]:
# Loop Through Index Number
# Use range() and len() for that
cars = ["Toyota", "Honda", "BMW"]
for i in range(len(cars)):
    print(cars[i])

Toyota
Honda
BMW

In [4]:
# Using a While Loop
cars = ["Toyota", "Honda", "BMW"]
i = 0
while i < len(cars):
    print(cars[i])
    i = i + 1

Toyota
Honda
BMW

In [5]:
# Looping Using List Comprehension

# List Comprehension offers the shortest syntax for looping through lists:

cars = ["Toyota", "Honda", "BMW"]
[print(x) for x in cars]

Toyota
Honda
BMW

[None, None, None]

In [6]:
# List Comprehension

# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

cars = ["Toyota", "Honda", "BMW"]
newlist = []

for x in cars:
    if "a" in x:
        newlist.append(x)
print(newlist)

['Toyota', 'Honda']

In [7]:
cars = ["Toyota", "Honda", "BMW"]
newlist = [x for x in cars if "a" in x]
print(newlist)

['Toyota', 'Honda']

In [10]:
# The Syntax
# newlist = [expression for item in iterable if condition == True]

# The return value is a new list, leaving the old list unchanged.

cars = ["Toyota", "Honda", "BMW"]
newlist = [x for x in cars if x != "Honda"]
print(newlist)
print(cars)
update_list = [x for x in cars if x != "Honda"]
print(update_list)

['Toyota', 'BMW']
['Toyota', 'Honda', 'BMW']
['Toyota', 'BMW']

In [12]:
# Iterable
# The iterable can be any iterable object, like a list, tuple, set etc.

cars = ["Toyota", "Honda", "BMW"]
newlist = [x for x in range(10)]
print(newlist)
update_list = [x for x in range(10) if x < 5]
print(update_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [16]:
# Expression
# The expression is the current item in the iteration, but it is also the outcome, which you can
# manipulate before it ends up like a list item in the new list:

cars = ["Toyota", "Honda", "BMW"]
newlist = [x.upper() for x in cars]
print(newlist)
update_list = ['hello' for x in cars]
print(update_list)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['TOYOTA', 'HONDA', 'BMW']
['hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [17]:
# Sort List Alphanumerically

# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

cars = ["Toyota", "Honda", "BMW"]
cars.sort()
print(cars)

['BMW', 'Honda', 'Toyota']

In [18]:
numbers = [100, 50, 65, 82, 23]
numbers.sort()
print(numbers)

[23, 50, 65, 82, 100]

In [20]:
# Decending

cars = ["Toyota", "Honda", "BMW"]
cars.sort(reverse = True)
print(cars)

numbers =  [100, 50, 65, 82, 23]
numbers.sort(reverse = True)
print(numbers)

['Toyota', 'Honda', 'BMW']
[100, 82, 65, 50, 23]

In [21]:
# Customize Sort Function

def myfunc(n):
    return abs(n - 50)

numbers = [100, 50, 65, 82, 23]
numbers.sort(key = myfunc)
print(numbers)

[50, 65, 23, 82, 100]

In [28]:
# Case Insensitive Sort

cars = ["Toyota", "Honda", "bmw"]
a = [x.upper() for x in cars]
print(a)
a.sort()
print(a)
cars.sort()
print(cars)

['TOYOTA', 'HONDA', 'BMW']
['BMW', 'HONDA', 'TOYOTA']
['Honda', 'Toyota', 'bmw']

In [31]:
# Perfor a case insensitive sort of the list

cars = ["Toyota", "Honda", "bmw"]
cars.sort(key = str.lower)
x= cars.sort(key = str.upper)
print(x)
print(cars)

None
['bmw', 'Honda', 'Toyota']

In [32]:
# Reverse Order

cars = ["Toyota", "Honda", "BMW"]
cars.reverse()
print(cars)

['BMW', 'Honda', 'Toyota']

In [33]:
# Copy List

cars = ["Toyota", "Honda", "BMW"]
newlist = cars.copy()
print(newlist)

['Toyota', 'Honda', 'BMW']

In [35]:
# Use the slice operator

cars = ["Toyota", "Honda", "BMW"]
newlist = cars[:]
print(newlist)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = fruits[2:5]
print(newlist)

['Toyota', 'Honda', 'BMW']
['cherry', 'kiwi', 'mango']

In [36]:
# Join list

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [37]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [38]:
# Extend

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# # List Methods

# # Python has a set of built-in methods that you can use on lists.

# append()
# clear()
# copy()
# count()
# extend()
# index()
# insert()
# pop()
# remove()
# reverse()
# sort()