In [1]:
# Python Tuples

cars = ("bmw", "ford", "supra")
print(cars)

('bmw', 'ford', 'supra')

In [2]:
# Tuples are collection which is ordered and unchangable
# Tuples are written with round brackets

cars = ("bmw", "ford", "supra")
print(cars)

('bmw', 'ford', 'supra')

In [3]:
# Tuple items are ordered, unchangable, and allow dupliccate values.
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
# When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangable
# Tuples are unchangable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates
# Since tuples are indexed, they can have items with the same value:

cars = ("bmw", "ford", "supra", "supra")
print(cars)

('bmw', 'ford', 'supra', 'supra')

In [5]:
print(len(cars))

4

In [6]:
# Create Tuple With One Item

# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

cars = ("bmw",)
print(type(cars))

# Not a tuple
cars = ("bmw")
print(type(cars))

<class 'tuple'>
<class 'str'>

In [7]:
# Tuple Items Data Types

# Tuple items can be of any data type:

tuple1 = ("bmw", "ford", "supra")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1,tuple2,tuple3)

('bmw', 'ford', 'supra') (1, 5, 7, 9, 3) (True, False, False)

In [10]:
# A tuple can contain differnt data types

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

# To determine how many items a tuple has, use the len() function

print(len(tuple1))

# type of tuple1

print(type(tuple1))

('abc', 34, True, 40, 'male')
5
<class 'tuple'>

In [11]:
# The typle() Constructor

# It is also possible to use the tuple() constructor to make a tuple.

cars = tuple(("bmw", "ford", "supra"))
print(cars)

('bmw', 'ford', 'supra')

In [12]:
# Access Tuple Items

cars = ("bmw", "ford", "supra")
print(cars[1])

ford

In [13]:
# Negative indexting
# Negative indexing means start from the end.

# -1 refers to the last item, -2 refers to the second last item etc.

cars = ("bmw", "ford", "supra")
print(cars[-1])

supra

In [14]:
# Range of Indexes
# start index(included) and end index (not included)

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
print(flowers[2:5])

('lotus', 'sunflower', 'jasmine')

In [15]:
# By not mentioned the start value, the range start with the first value

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
print(flowers[:4])

('rose', 'lily', 'lotus', 'sunflower')

In [16]:
# By leaving out the end value, the range will go on to the end of the tuple:

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
print(flowers[2:])

('lotus', 'sunflower', 'jasmine')

In [17]:
# Range of negative indexing

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
print(flowers[-4:-1])

('lily', 'lotus', 'sunflower')

In [18]:
# Check if item exits

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
if "rose" in flowers:
    print("Yes, 'rose' is in the flowers tuple")

Yes, 'rose' is in the flowers tuple

In [ ]:
# Update tuples

# Tuples are unchangable, meaning that you cannot change, add, or remove items once the tuple is created.

# But there are some workarounds.

In [19]:
# The way is you can convert the tuple into a list and then change the list and then convert the list back to the tuple

flowers = ("rose", "lily", "lotus", "sunflower", "jasmine")
y = list(flowers)
y[1] = "daisy"
flowers = tuple(y)

print(flowers)

('rose', 'daisy', 'lotus', 'sunflower', 'jasmine')

In [20]:
# Add Items

# Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add

# 1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

cars = ("bmw", "ford", "supra")
y = list(cars)
y.append("audi")
cars = tuple(y)

print(cars)

('bmw', 'ford', 'supra', 'audi')

In [21]:
# Add tuple with tuple

cars = ("bmw", "ford", "supra")
more_cars = ("audi", "volvo")
cars += more_cars
print(cars)

('bmw', 'ford', 'supra', 'audi', 'volvo')

In [22]:
# Remove items

# Note: You cannot remove items in a tuple.

# Tuples are unchangable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple

cars = ("bmw", "ford", "supra")
y = list(cars)
y.remove("ford")
cars = tuple(y)

print(cars)

('bmw', 'supra')

In [23]:
# or we can delete the tuple completely

cars = ("bmw", "ford", "supra")
del cars
print(cars) #this will raise an error because the tuple no longer exists

NameError: name 'cars' is not defined