In [1]:
# Python While Loops

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
# Break Statement

i = 1
while i < 6:
  print(i)
  if(i == 4):
    break
  i += 1

1
2
3
4

In [5]:
# Continue Statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [6]:
# The Else Statement

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [7]:
# Python For Loops

cars = ["Ford", "Volvo", "BMW"]
for x in cars:
  print(x)

Ford
Volvo
BMW

In [8]:
# Looping Through String

for x in "cars":
  print(x)

c
a
r
s

In [9]:
# The Break Statement

cars = ["Ford", "Volvo", "BMW"]
for x in cars:
  print(x)
  if x == "Volvo":
    break

Ford
Volvo

In [10]:
# Exit the loop when x is "Volvo", but this the break comes before the print:

cars  = ["Ford", "Volvo", "BMW"]
for x in cars:
  if x == "Volvo":
    break
  print(x)

Ford

In [11]:
# The Continue Statement

cars = ["Ford", "Volvo", "BMW"]
for x in cars:
  if x == "Volvo":
    continue
  print(x)

Ford
BMW

In [15]:
# The range() Function

for x in range(6):
  print(x)

print("-" * 10)
for x in range(2, 6):
  print(x)
print("-" * 10)
for x in range(2, 30, 3):
  print(x)
print("-" * 10)

0
1
2
3
4
5
----------
2
3
4
5
----------
2
5
8
11
14
17
20
23
26
29
----------

In [16]:
# Else in For loop

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [18]:
for x in range(5):
  print(x)
  if x == 3:
    break
else:
  print("Finally finished!")

0
1
2
3

In [19]:
# Nested Loops

cars = ["Ford", "Volvo", "BMW"]
colors = ["Red", "White", "Blue"]

for x in cars:
  for y in colors:
    print(x, y)

Ford Red
Ford White
Ford Blue
Volvo Red
Volvo White
Volvo Blue
BMW Red
BMW White
BMW Blue

In [20]:
for x in [0, 1, 2]:
  pass