In [1]:
# python functions
# a function is a block of code which only runs when it is called

def my_function():
    print("Hello Hasib")

my_function()

Hello Hasib

In [2]:
# arguments

# information can be passed into functions as arguments
# arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma

def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

#

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [3]:
# number of arguments

def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [6]:
# arbitary arguments,*args

# if you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition

def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [7]:
# key arguments

# you can also send arguments with the key = value syntax

def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

#

The youngest child is Linus

In [8]:
# arbitary keeyword arguments, **kwargs

def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

#

His last name is Refsnes

In [9]:
# default parameter value

def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

#

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [10]:
# passing an list as an arguments

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [13]:
# return values

def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

#

15
25
45

In [14]:
# the pass statement

def myfunction():
    pass

#

In [19]:
# positional only arguments

# you can specify that a function can have only positional arguments, or only keywords arguments

def my_function(x, /):
  print(x)

my_function(3)

def my_function(x):
  print(x)

my_function(x = 3)

# def my_function(x, /):
#   print(x)

# my_function(x = 3)  error

1 2 3 4 5
3
3

In [20]:
# keyword only arguments

def my_function(*, arg1, arg2):
    print(arg1, arg2)

my_function(arg1=3, arg2=4)

# def my_function(*, arg1, arg2):
#     print(arg1, arg2)

# my_function(3, 4)  error

3 4

In [21]:
# combined positional and keyword only

def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
    print(pos1, pos2, pos_or_kwd, kwd1, kwd2)


f(1, 2, 3, kwd1=4, kwd2=5)

1 2 3 4 5

In [22]:
# recursion

def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21