Python string format

In [3]:
name = "hasib"
res = "My name is "+name
print(res)

# but we can not do this to concate number and string

age = 34
res = "My age is "+age
print(res)

# it shows the error

My name is hasib

In [4]:
# to overcome this python use f tring

name = "hasib"
age = 34
res = f"My name is {name} and my age is {age}"
print(res)

My name is hasib and my age is 34

In [6]:
# placeholder and modifiers

name = "hasib"
age = 34
res =  "My name is {} and age is {}".format(name,age)
print(res)

My name is hasib and age is 34

In [8]:
# display the price with 2.... decimals:

price = 59
res = "The price is {:.2f}".format(price)
print(res)

The price is 59.000

In [9]:
# placeholder with the math operation

price = 59
res = "The price is {:.2f}".format(price*3)
print(res)

The price is 177.00

In [11]:
# Escape character \"\"

txt = "We are the so-called \"Vikings\" from the north and we are \"powerfull\"."
print(txt)

We are the so-called "Vikings" from the north and we are "powerfull".

In [16]:
# other escape character

# \'	Single Quote
# \\	Backslash
# \n	New Line
# \r	Carriage Return
# \t	Tab
# \b	Backspace
# \f	Form Feed
# \ooo	Octal value
# \xhh	Hex value

txt = "Hello\nWorld!"
print(txt)

txt1 = "This will insert one \\ (backslash)."
print(txt1)

txt2 = "Hello\rWorld!"
print(txt2)

txt3 = "Hello\tWorld!"
print(txt3)

txt4 = "Hello \bWorld!"
print(txt4)

txt5 = "\110\145\154\154\157"
print(txt5)

txt6 = "\x48\x65\x6c\x6c\x6f"
print(txt6)

txt7 = "Hlw\fhasib"
print(txt7)

Hello
World!
This will insert one \ (backslash).
World!
Hello	World!
Hello World!
Hello
Hello
Hlwhasib

In [27]:
# string method
txt = "hasib"
print(txt.capitalize())
print(txt.casefold())
print(txt.center(20))
print(txt.count("a"))
print(txt.encode())
print(txt.endswith("b"))
print(txt.expandtabs)
print(txt.find("a"))
print(txt.format)
print(txt.format_map)
print(txt.index("a"))
print(txt.isalnum())
print(txt.isalpha())
print(txt.isascii())
print(txt.isdecimal())
print(txt.isdigit())
print(txt.isidentifier())
print(txt.islower())
print(txt.isnumeric())
print(txt.isprintable())
print(txt.isspace())
print(txt.istitle())
print(txt.isupper())
print()
print(txt.join("hasib"))
print(txt.ljust(20))
print(txt.lower())
print(txt.lstrip())
print(txt.maketrans)
print(txt.partition("a"))
print(txt.replace("a","b"))
print(txt.rfind("a"))
print(txt.rindex("a"))
print(txt.rjust(20))
print(txt.rpartition("a"))
print(txt.rsplit())
print(txt.rstrip())
print(txt.split())
print(txt.splitlines())
print(txt.startswith("h"))
print(txt.strip())
print(txt.swapcase())
print(txt.title())
print(txt.translate)
print(txt.upper())
print(txt.zfill(20))

Hasib
hasib
       hasib
1
b'hasib'
True
<built-in method expandtabs of str object at 0x7ce63fded7f0>
1
<built-in method format of str object at 0x7ce63fded7f0>
<built-in method format_map of str object at 0x7ce63fded7f0>
1
True
True
True
False
False
True
True
False
True
False
False
False

hhasibahasibshasibihasibb
hasib
hasib
hasib
<built-in method maketrans of type object at 0x58269b0ad7c0>
('h', 'a', 'sib')
hbsib
1
1
               hasib
('h', 'a', 'sib')
['hasib']
hasib
['hasib']
['hasib']
True
hasib
HASIB
Hasib
<built-in method translate of str object at 0x7ce63fded7f0>
HASIB
000000000000000hasib

Python Boolean

In [36]:
print(10 > 9)
print(10 == 9)
print(10 < 9)
x = 10
y = 9
print(bool(x==y)) # bool() function returns the True and the False

a = "Hasib"
b = 10
print(bool(a))
print(bool(b))

# condition
if 10 > 9:
  print("10 is greater than 9")
else:
  print("10 is not greater than 9")


bool("abc")
bool(321)
bool(["apple", "cherry", "banana"])

True
False
False
False
True
True
10 is greater than 9

True

In [37]:
# new line

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [38]:
# One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [39]:
# Function can return a Boolean value

def myFunction() :
  return True

print(myFunction())

True

In [41]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

# function return the boolean values with the conditions

NO!

In [43]:
# check if an object is intejer or not

x = 200
print(isinstance(x, int))

print(isinstance(x, float))

True
False

# ***Python operators***

In [44]:
print(10 + 5)

15

In [ ]:
# # Python  operators

# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

In [45]:
# Arithmetic operators

a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

In [60]:
# Assignment operators
x = float(55)
y = float(11)

# x = x + 3
x += 3
print(x)

# x = x - 3
x -= 3
print(x)

# x = x * 3
x *= 3
print(x)

# x = x / 3
x /= 3
print(x)

# x = x % 3
x %= 3
print(x)

# x = x // 3
x //= 3
print(x)

# x = x ** 3
x **= 3
print(x)

# x = x & 3
# x &= 3
# print(x)

# x = x | 3
# x |= 3
# print(x)

# x = x ^ 3
# x ^= 3
# print(x)

# # x = x >> 3
# x >>= 3
# print(x)

# # x = x << 3
# x <<= 3
# print(x)

58.0
55.0
165.0
55.0
1.0
0.0
0.0

In [61]:
# Python Compariosn operators

a = 10
b = 5
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [63]:
# Python logical operators

x = 10
print(x < 5 and  x < 10)
print(x < 5 or x > 4)
print(not(x < 5 and x < 10))

False
True
True

In [68]:
# Python Indentity Operators

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is not y)
print(x == y)
print(x is y)

True
True
True
False

In [69]:
# Pyhton Membership Operators

x = ["apple", "banana"]
print("banana" in x)
print("pineapple" not in x)

True
True

In [70]:
# Python Betwise Operators

a = 10
b = 5
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << b)
print(a >> b)

0
15
15
-11
320
0

In [71]:
# Opearator Precedence
# * / + -
print(10 + 5 * 2)
print((10 + 5) * 2)
print(100 + 5 * 10 / 2)

# The precedence order

# ()
# **
# +x  -x  ~x
# *,/,//,%
# +,-
# <<,>>
# &
# ^
# |
# ==,!=,>,>=,<,<=,is,is not,in,not in

20
30
125.0