In [1]:
# Python Unpack Tuples

# When we create a tuple, we assign values to it. This is called "packing" a tuple:

cars = ("Ford", "Volvo", "BMW")

# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

(car1, car2, car3) = cars

print(car1)
print(car2)
print(car3)

Ford
Volvo
BMW

In [2]:
# Using Asterisk

# if the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

cars = ("Ford", "Volvo", "BMW", "Toyota", "Tesla")

(car1, car2, *car3) = cars

print(car1)
print(car2)
print(car3)

Ford
Volvo
['BMW', 'Toyota', 'Tesla']

In [3]:
# if the asterisk is added to another variable name than the last, Python will assign values to the variable
#until the number of values left matches the number of variables left.

cars = ("Ford", "Volvo", "BMW", "Toyota", "Tesla")

(car1, *car2, car3) = cars

print(car1)
print(car2)
print(car3)

Ford
['Volvo', 'BMW', 'Toyota']
Tesla

In [4]:
#  Loop Tuples

# you can loop through the tuple items by using a for loop.

cars = ("Ford", "Volvo", "BMW")
for x in cars:
  print(x)

Ford
Volvo
BMW

In [5]:
# loop through the index numbers

cars = ("Ford", "Volvo", "BMW")
for i in range(len(cars)):
  print(cars[i])

Ford
Volvo
BMW

In [6]:
# using while loop

cars = ("Ford", "Volvo", "BMW")
i = 0
while i < len(cars):
  print(cars[i])
  i = i + 1

Ford
Volvo
BMW

In [7]:
# join tuples

# join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [8]:
# multiply tuples

cars = ("Ford", "Volvo", "BMW")
mytuple = cars * 2

print(mytuple)

('Ford', 'Volvo', 'BMW', 'Ford', 'Volvo', 'BMW')

In [9]:
# Tuple methods

# Python has two built-in methods that you can use on tuples.

# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found